
#footer a {
    color: white;
}
#header a{
    color: whitesmoke;
}

#proyectos-realizados {
    color: white;
}

#navbar img {
    width: 40px;
    display: inline-block;

}
body {
    background: black;
}

#conocimientos h1 {
    color: white;
}
